body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #signup, #login {
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;

  }
  input::placeholder{
    color:#333131;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #646161;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #d35000;
    color: rgb(254, 251, 251);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #501e02;
  }
  
  p {
    color: rgb(2, 0, 23);
  }
  